<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFnDTvEZjuzozXacfitcT7nw4p4trHXg0</string>
	<key>GCM_SENDER_ID</key>
	<string>1000802414043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartGardenApp</string>
	<key>PROJECT_ID</key>
	<string>database-for-iot-project</string>
	<key>STORAGE_BUCKET</key>
	<string>database-for-iot-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000802414043:ios:3b5dc2c60b0d3074424bfe</string>
	<key>DATABASE_URL</key>
	<string>https://database-for-iot-project-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>